.buttons__section{
    margin-top: .5rem;
}

.registerButton__section{
    background-color: rgb(13, 41, 83);
    color: white;
    border-radius: 5px;
    padding: .5rem;
    border: none;
    width: 90px;
    margin: 0px 5px;
}

.registerButton__section:hover{
    background-color: rgb(26, 60, 110);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.userData-Section__header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.userName__Section__header{
    text-align: center;
    margin: .2rem 1rem 0 0 ;
}