body{
    background-color: rgb(70, 136, 199);
}

.form__Container{
    position: absolute;
    top: 25%;
    left: 37%;
    background-color: rgb(1, 21, 44);
    text-align: center;
    color: rgb(218, 218, 218);
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.inputForm__section{
    width: 100%;
    margin: 1rem 0rem ;
}

.inputForm__section input{
    width: 250px;
    border-radius: 3px;
    padding: .2rem;
    border: none;
    font-size: 1rem;
}

.inputForm__section input:focus{
    outline: none;
}
.inputForm__section label{
    display: flex;
    justify-content: flex-start;
}

.submitButton__form{
    padding: .5rem;
    width: 260px;
    background-color: rgb(91, 139, 179);
    border-radius: 8px;
    margin: 1rem 0rem;
    font-weight: bold;
    border: none;
    color: rgb(9, 60, 119);
}

.submitButton__form:focus{
    outline: none;
}

.submitButton__form:hover{
    cursor: pointer;
    background-color: rgb(60, 102, 136);
    transition: .9s ease-in-out;
}


@media only screen and (max-width: 450px) and (min-width: 0px) {
    /* For mobile phones: */
    .form__Container{
        width: 80%;
        left: 12%;
    }
  }

@media only screen and (max-width: 680px) and (min-width: 451px) {
    /* For mobile phones: */
    .form__Container{
        width: 60%;
        left: 25%;
    }
  }

  @media only screen and (max-width: 980px) and (min-width: 681px)  {
    /* For mobile phones: */
    .form__Container{
        width: 70%;
        left: 20%;
        font-size: 1.1rem;
        font-weight: bold;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 981px)  {
    /* For mobile phones: */
    .form__Container{
        width: 70%;
        left: 18%;
        font-size: 1.1rem;
        font-weight: bold;
    }
  }
